#title{
    text-align: center;
    color: rgb(45, 10, 245);
}
table {
    border: 1px solid black;
    width: 50%;
    height: 50%;
    background-color: black;
    margin-left: 10cm;
    
}
body{
    background-image: url("https://media.istockphoto.com/photos/abstract-blue-background-with-grunge-texture-and-white-geometric-and-picture-id1293539824?b=1&k=20&m=1293539824&s=170667a&w=0&h=GnQ_AHJ4ob3B0K_nc-l-Ihiff9gWqnNkfLpWYpz0M9U=");
}
th {
    height: 60px;
    color: rgb(237, 236, 247);
    text-align: right;
    
}
td{
    height: 30px;
    border: 1px solid rgb(255, 0, 0);
}
#merge{
    text-align: right;
}
tr,td,th{
    border;
}
button{
    background-color: rgb(240, 240, 6);
    border-style: solid;
    border-radius: 15px;
    border width: 1px;
    padding: 10px;
    margin: 0;
    position: relative;
    left: 30%;
}

