/*styling for calculator*/
.head{
    text-align: center; 
    color: aquamarine;
}
.head:hover{
    color: goldenrod;
}
/* style for text inside button */
 span{
     color: rgb(0, 253, 0); 
  
 }
 /* activing another text using pseudo class */
 span:active{
    color: aquamarine;
 }
 /* layout to table  */
 table{
     margin: auto;
     border: solid;
     background-color: lightgrey;
 }
 /* layout to button  */
 button{background-color:white ;
    font-size: 30px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: thin;

 } 
 /* unique color for clear and backspace button */
 #one,#two{
     color: tomato;
 }
  /* adjusting size for display of input */
  #display {
     font-size: 20px;
     height: 1.5cm;
     border-radius: 15px;
 }
 /* adjusting nav tag */
 nav div h2 {
     margin-top: 1cm;
     margin-left: 3cm;
 }
 /* activing pseudo to buttons */
 button:active{
     color: aquamarine;
     background-color: black;
 }
 